/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-chrisbibby-block-mapbox-track-block {
  margin-bottom: 1.5em;
  #mapbox-map {
    width: 100%;
    height: 400px;
  }
}
